---
layout: default
---

<div class="flex relative w-full h-screen">
  <div class="w-1/2 h-screen py-24 text-center z-10">
    <h1 class="text-6xl font-bold">Small Ruby shop</h1>
    <h1 class="text-6xl font-bold">that can do <span class="uppercase text-8xl">big</span> things!</h1>
  </div>

  <div class="w-1/2 h-3/4">
    <img src=<%= relative_url "images/code.svg" %>  class="h-full w-fit z-20 relative" />
  </div>

  <img src=<%= relative_url "images/broken-line.svg" %>  class="opacity-30 absolute top-[15px] left-[200px] w-24 h-fit" />
  <img src=<%= relative_url "images/broken-line.svg" %>  class="opacity-30 absolute top-[120px] left-[45px] w-32 h-fit" />
  <img src=<%= relative_url "images/broken-line.svg" %>  class="opacity-30 absolute top-[220px] left-[480px] w-36 h-fit" />
  <img src=<%= relative_url "images/broken-line.svg" %>  class="opacity-30 absolute top-[330px] left-[400px] w-44 h-fit" />
  <img src=<%= relative_url "images/broken-line.svg" %>  class="opacity-30 absolute top-[18px] left-[400px] w-24 h-fit" />
  <img src=<%= relative_url "images/broken-line.svg" %>  class="opacity-30 absolute top-[140px] left-[280px] w-32 h-fit" />
  <img src=<%= relative_url "images/broken-line.svg" %>  class="opacity-30 absolute top-[220px] left-[80px] w-36 h-fit" />
  <img src=<%= relative_url "images/broken-line.svg" %>  class="opacity-30 absolute top-[330px] left-0 w-44 h-fit" />

  <img src=<%= relative_url "images/broken-line.svg" %>  class="opacity-30 absolute bottom-[15px] right-[200px] w-24 h-fit" />
  <img src=<%= relative_url "images/broken-line.svg" %>  class="opacity-30 absolute bottom-[120px] right-[45px] w-32 h-fit" />
  <img src=<%= relative_url "images/broken-line.svg" %>  class="opacity-30 absolute bottom-[220px] right-[480px] w-36 h-fit" />
  <img src=<%= relative_url "images/broken-line.svg" %>  class="opacity-30 absolute bottom-[330px] right-[400px] w-44 h-fit" />
  <img src=<%= relative_url "images/broken-line.svg" %>  class="opacity-30 absolute bottom-[18px] right-[400px] w-24 h-fit" />
  <img src=<%= relative_url "images/broken-line.svg" %>  class="opacity-30 absolute bottom-[140px] right-[280px] w-32 h-fit" />
  <img src=<%= relative_url "images/broken-line.svg" %>  class="opacity-30 absolute bottom-[220px] right-[80px] w-36 h-fit" />
  <img src=<%= relative_url "images/broken-line.svg" %>  class="opacity-30 absolute bottom-[330px] right-0 w-44 h-fit" />
</div>
